.react-calendar-heatmap .color-scale-5 { fill: #00ff00; }
.react-calendar-heatmap .color-scale-4 { fill: #ccff00; }
.react-calendar-heatmap .color-scale-3 { fill: #ffff00; }
.react-calendar-heatmap .color-scale-2 { fill: #ff9900; }
.react-calendar-heatmap .color-scale-1 { fill: #ff0000; }
.react-calendar-heatmap .color-empty { fill: #ececec; }
